.Header{
    background-color: #2d3436;
      height: 100px;
    width: auto;
    position: sticky;
    top: 0;  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  margin-bottom: 70px;
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.card{
    border:solid  #ccc;
   border-radius: 8px;
   margin:16px;

  
}
.cardHeader{
  font-size: small;
  margin:4px;
  /* background-color: rgb(114, 215, 248); */
  border-radius: 8px;

}
.cardBody{
  margin: 16px;
  scroll-behavior: smooth;
}